:root {
    --nav-text-color: rgb(255,255,255);
    --nav-background-color-black: rgb(0,0,0);
    --nav-item-hover-color: #95989a;

    --form-text-color: rgb(255,255,255);
    --form-background-color: rgba(0,0,0,0.5);
    --form-item-hover-color: #95989a;
    --form-border-color: #95989a;
    --form-field-border-color: #95989a;

    --account-text-color: rgb(255,255,255);
    --account-fill-color: rgb(255,255,255);
    --account-selected-color: #95989a;
    --account-item-hover-color: #95989a;
    --account-background-color: rgb(0,0,0);

    --account-content-text-color: rgb(0,0,0);
    --account-content-item-hover-color: #95989a;

    --post-text-color: rgb(255,255,255);
    --post-background-color: rgb(0,0,0);
    --post-item-hover-color: #95989a;

    --post-detail-text-color: black;

    --default-color: rgb(1,1,1);
}

a {
    text-decoration: none;
}

textarea {
    resize: none;
}

body {
    font-family: Roboto,sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
}

#masterHead {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    text-align: center;
    background-color: var(--nav-background-color-black);
    color: var(--nav-text-color);
}

    #masterHead a {
        color: var(--nav-text-color);
        font-family: Barlow,sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 14px;
    }

    #masterHead a:hover {
        color: var(--nav-item-hover-color);
    }

    #masterHead .a-border {
        border: 2px solid var(--nav-text-color);
        border-radius: 8px ;
        padding: 6px;
    }

    #masterHead .a-border:hover {
        border-color: var(--nav-item-hover-color);
    }

    #masterHead .nav-layout {
        display: flex;
        flex-direction: row-reverse;
        height: 24px;
    }

    #masterHead .big {
        padding: 20px 20px;
    }

    #masterHead .small {
        padding: 10px 20px;
    }

        #masterHead .nav-layout .nav-filter {
            width: 30%;
            background-color: red;
        }

        #masterHead .nav-layout .nav-center {
            width: 40%;
        }

            #masterHead .nav-layout .nav-center .site-name-text {
                font-size: 24px;
                letter-spacing: 2px;
            }

        #masterHead .nav-layout .nav-user {
            width: 30%;
            text-align: right;
            padding-right: 2%;
        }

            #masterHead .nav-layout .nav-user .sign-button-layout {
                padding-top: 4px;
            }

                #masterHead .nav-layout .nav-user .sign-button-layout .user-account {
                    max-width: 20px;
                    padding-top: 4px;
                    padding-right: 30px;
                    color: var(--nav-text-color);
                    font-family: Barlow,sans-serif;
                    font-weight: 700;
                    letter-spacing: 1px;
                    font-size: 14px;
                    text-transform: uppercase;
                    fill: var(--nav-text-color);
                }

                #masterHead .nav-layout .nav-user .sign-button-layout .user-account:hover {
                    color: var(--nav-item-hover-color);
                    fill: var(--nav-item-hover-color);

                }

                #masterHead .nav-layout .nav-user .sign-button-layout .nav-svg-icon {
                    width: 20px;
                    height: 12px;
                }


#pageContent {
    position: absolute;
    margin-top: 100px;
    width: 100%;
}


.items-layout {
    display: flex;
}

.filter-layout {
    min-width: 250px;
    margin-left: 10px;
    display: none;
}

.filter-content {
    background-color: red;
    min-height: 500px;
}


.post-layout {
    position: relative;
    width: 80%;
    margin: 0 10% 0 10% ;
}

    .post-layout .post-items-layout {
        display: flex;
        color: var(--post-text-color);
        background-color: var(--post-background-color);
        text-align: center;
        width: 60%;
        padding-right: 20px;
        margin: 5px 18%;
    }

    .post-layout .post-image {
        height: 200px;
        width: 200px;
    }

    .post-layout .item {
        width: 75%;
        margin: 0 20% 10px 5%;
        height: 500px;
        background-color: red;
    }

    .post-layout .item-text-content {
        font-family: Barlow,sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        width: 100%;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

        .post-layout .item-text-content .label-hover {

        }

            .post-layout .item-text-content .label-hover:hover {
                color: var(--post-item-hover-color)
            }

        .post-layout .item-text-content .item-button-layout {

        }

            .post-layout .item-text-content .item-button-layout .item-button {
                border-radius: 8px ;
                padding: 6px;
                color: var(--post-text-color);
            }

                .post-layout .item-text-content .item-button-layout .item-button:hover {
                    color: var(--post-item-hover-color) ;
                }

        .post-layout .item-text-content .user-link-layout {
            text-align: right;
            color: var(--post-text-color);
        }

            .post-layout .item-text-content .user-link-layout .user-link {
                color: var(--post-text-color);
                fill: var(--post-text-color);
            }

                .post-layout .item-text-content .user-link-layout .user-link:hover {
                    color: var(--post-item-hover-color);
                    fill: var(--post-item-hover-color);
                }

                .post-layout .item-text-content .user-link-layout .user-link .user-link-icon {
                    height: 12px;
                    width: 20px;
                }

                    .post-layout .item-text-content .user-link-layout .user-link .user-link-icon:hover {
                        fill: var(--post-item-hover-color);
                    }

.page-selector {
    font-family: Barlow,sans-serif;
    font-weight: 700;
    text-align: center;
    font-size: 20px;
    width: 60%;
    height: 30px;
    margin: 25px 20%;
    color: var(--post-text-color);
    fill: var(--post-text-color);
}

    .page-selector .selector-arrow {
        height: 30px;
        width: 30px;
        background-color: var(--post-background-color);
        fill: var(--post-text-color);
        padding: 0 10px;
    }

        .page-selector .selector-arrow:hover {
            fill: var(--post-item-hover-color);
        }

    .page-selector .selector-page-label {
        background-color: var(--post-background-color);
        margin: 0 0 0 5px;
        padding: 0 10px;
    }

        .page-selector .selector-page-label:hover {
            color: var(--post-item-hover-color);
        }

    .page-selector .icon {
        height: 15px;
        width: 15px;
    }

.form-layout {
    padding: 0 20px;
}

.form-layout .form {
    width: 300px;
    padding: 30px;
    margin: 200px auto 0 auto;
    background-color: black;
    border-radius: 10px;
}

.form-field {
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    font-family: Barlow,sans-serif;
    font-weight: 600;
    color: var(--form-text-color);
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

.form-field:hover {
    color: var(--form-item-hover-color);
}

    .form-field .form-error-message {
        color: red;
        font-size: 10px;
        margin-top: 3px;
    }

    .form-field .form-field-required {
        color: red;
    }

.sign-error-message-layout {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
}

    .sign-error-message-layout .sign-error-message {
        font-family: Barlow,sans-serif;
        font-weight: 600;
        color: red;
        font-size: 14px;
    }

.form-submit {
    width: 100%;
    text-align: center;
    margin: auto;
}

    .form-submit .form-button {
        color: var(--form-text-color);
        font-family: Barlow,sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 14px;
        text-transform: uppercase;
        background-color: var(--form-background-color);
        border: 2px solid var(--nav-text-color);
        border-radius: 8px ;
        padding: 6px;
    }

    .form-submit .form-button:hover {
        color: var(--form-item-hover-color);
        border-color: var(--nav-item-hover-color);
    }

.link-signup {
    padding-top: 60px;
    text-align: center;
}

    .link-signup a {
        color: var(--form-text-color);
        font-family: Barlow,sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 14px;
        text-transform: uppercase;
    }

    .link-signup a:hover {
        color: var(--form-item-hover-color);
    }

    .link-signup .a-border {
        border: 2px solid var(--nav-text-color);
        border-radius: 8px ;
        padding: 6px;
    }

    .link-signup .a-border:hover {
        border-color: var(--nav-item-hover-color);
    }



.account-layout {
    display: flex;
    margin: 0 20px;
}

    .account-layout .account-nav {
        width: 250px;
        color: var(--account-text-color);
        font-family: Barlow,sans-serif;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }

    .account-layout a {
        color: var(--account-text-color);
    }

    .account-layout a:hover {
        color: var(--account-item-hover-color);
    }

        .account-layout .account-nav .account-nav-field {
            margin-bottom: 5px;
            padding: 15px;
            background-color: var(--account-background-color);
        }

            .account-layout .account-nav .account-nav-field .field-link {
                padding: 0 10px;
            }

            .account-layout .account-nav .account-nav-field .field-link-padding {
                padding-top: 3px;
            }

            .account-layout .account-nav .account-nav-field .field-edit {
                padding-top: 2px;
                padding-left: 40px;
            }

                .account-layout .account-nav .account-nav-field .field-edit .field-edit-icon {
                    height: 16px;
                    width: 16px;
                    fill: var(--account-fill-color);
                }

                .account-layout .account-nav .account-nav-field .field-edit .field-edit-icon:hover {
                    fill: var(--account-item-hover-color);
                }

    .account-layout .account-content-layout {
        width: 80%;
        margin: 0 12% 0 8%;
        text-align: center;
    }

        .account-layout .account-content-layout .account-content {
            color: var(--account-content-text-color);
            font-family: Barlow,sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

            .account-layout .account-content-layout .account-content .account-content-user-icon {

            }

                .account-layout .account-content-layout .account-content .account-content-user-icon .account-content-icon {
                    height: 200px;
                    width: 200px;
                }

            .account-layout .account-content-layout .account-content .account-content-item {
                padding-top: 20px;
            }

.post-detail-main-layout {
    margin: 0 20px;
}

    .post-detail-main-layout .post-detail-layout {
        width: 80%;
        margin: 0 12% 0 8%;
        text-align: center;
    }

        .post-detail-main-layout .post-detail-layout .post-detail-content {
            color: var(--account-content-text-color);
            font-family: Barlow,sans-serif;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }

            .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-icon {

            }

                .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-icon .image {
                    width: 200px;
                    height: 200px;
                }

            .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-item {
                padding-top: 20px;
            }

                .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-item .post-detail-user-link {
                    color: var(--post-detail-text-color);
                }

                .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-item .post-detail-icon {
                }

                .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-item .post-detail-icon {
                    height: 12px;
                    width: 20px;
                }

                .post-detail-main-layout .post-detail-layout .post-detail-content .post-detail-item .reservation-button {
                    border-radius: 5px;
                    padding: 10px;
                    color: var(--post-detail-text-color);
                }


.edit-buttons-layout {
    text-align: center;
}

    .edit-buttons-layout .edit-buttons-container {

    }

        .edit-buttons-layout .edit-buttons-container .link {

        }

            .edit-buttons-layout .edit-buttons-container .link .icon-edit {
                height: 30px;
                width: 30px;
                margin: 5px;
                fill: var(--post-detail-text-color);
            }

                .edit-buttons-layout .edit-buttons-container .link .icon-edit:hover {
                    fill: orange;
                }

            .edit-buttons-layout .edit-buttons-container .link .icon-visible {
                height: 30px;
                width: 30px;
                margin: 5px;
                fill: var(--post-detail-text-color);
            }

                .edit-buttons-layout .edit-buttons-container .link .icon-visible:hover {
                    fill: green;
                }

            .edit-buttons-layout .edit-buttons-container .link .icon-delete {
                height: 30px;
                width: 30px;
                margin: 5px;
                fill: var(--post-detail-text-color);
            }

                .edit-buttons-layout .edit-buttons-container .link .icon-delete:hover {
                    fill: red;
                }

.hidden {
    display: none;
}

.flex {
    display: flex;
}

.none-text-transform {
    text-transform: none;
}

.not-found-layout {
    padding: 0 20px;
    text-align: center;
    font-size: 24px;
    font-family: Barlow,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.background-green {
    background-color: green;
}

.background-red {
    background-color: red;
}

.background-orange {
    background-color: orange;
}

.color-green {
    color: green;
}

.color-red {
    color: red;
}

.create-reservation-success {
    text-align: center;
    font-family: Barlow,sans-serif;
    font-weight: 700;
    font-size: 20px;
}